/* Reseteo y fondo general de la pantalla */
body {
  font-family: Arial, sans-serif;
  font-size: 16px;
}

button {
  background-color: #1aab8a;
  color: white;
   font-size: 16px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

